node_modules
**/node_modules
**/dist
**/*.tsbuildinfo
**/.git
**/.github
**/.env
**/.env.*
!**/.env.example
**/*.db
**/*.db-journal
**/data
**/.DS_Store
**/coverage
**/*.log
**/.idea
**/.vscode
**/Thumbs.db
README.md
